.createAdForm{
    background-color: #ffcdb2;
    padding-top: 100px;
    padding-bottom: 50px;
}

.createAdForm__title{
    text-align: center;
    padding-bottom: 30px;
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
}

.createAdForm__inner{
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

.createAdForm__input{
    border: 2px solid #555555;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 5px;
}

.createAdForm__btn{
    background-color: #e5989b;
    border: 2px solid #e5989b;
    border-radius: 5px;
    font-size: 18px;
    color: #FFFFFF;
    padding: 15px 40px;

}