.register {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register--dark {
    background-color: #ffcdb2;
}

.register--white {
    background-color: #ffcdb2;
}

.register__container {
    box-shadow: 8px 12px 16px rgba(128, 128, 128, 0.9);
    width: 500px;
    height: 400px;
    padding: 30px;
    border-radius: 20px;
    background: white;
}

.register__title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.register__form {
    border-bottom: 1px solid #c5c5c5;
}
.register__btn {
    display: flex;
    margin-top: 30px;
}
.register__btn button {
    width: 100%;
}




